.container {
    display: flex;
    flex-direction: column;
    font-size: medium;
    background-color: #3498DB;
    border-radius: 10px;
    gap: 0.25rem;
    padding: 1rem;
    margin: 1rem;
}

.dateContainer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.45rem;
}

.payloadContainer {
    display: flex;
    float: row;
    justify-content: center;
}