.signup-form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .title-container {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .login-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-link {
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .register-link text, button {
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
  }
  
  .register-link button:hover {
    color: #0056b3;
  }
  